<div class="container mx-auto py-8">
  <h1 class="text-4xl font-bold text-gray-800 mb-4">zcloud db is hooked up </h1><br>
  <p class="text-lg text-gray-600 mb-8">This is my personal blog where I share my thoughts and ideas.</p>
</div>
